/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #f6ebfd;

  --ion-color-primary: #45398b;
	--ion-color-primary-rgb: 69,57,139;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #3d327a;
	--ion-color-primary-tint: #584d97;

	--ion-color-secondary: #615a8c;
	--ion-color-secondary-rgb: 97,90,140;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #554f7b;
	--ion-color-secondary-tint: #716b98;

	--ion-color-tertiary: #2a234c;
	--ion-color-tertiary-rgb: 42,35,76;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #251f43;
	--ion-color-tertiary-tint: #3f395e;

	--ion-color-success: #439865;
	--ion-color-success-rgb: 67,152,101;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #3b8659;
	--ion-color-success-tint: #56a274;

	--ion-color-warning: #dfaf11;
	--ion-color-warning-rgb: 223,175,17;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #c49a0f;
	--ion-color-warning-tint: #e2b729;

	--ion-color-danger: #d24659;
	--ion-color-danger-rgb: 210,70,89;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #b93e4e;
	--ion-color-danger-tint: #d7596a;

	--ion-color-medium: #74767b;
	--ion-color-medium-rgb: 116,118,123;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #66686c;
	--ion-color-medium-tint: #828488;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}