.client-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: .5rem;
}

.client-title {
    margin-bottom: 1rem;
    font-weight: bold;
}

.clients-footer {
    bottom: 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: .5rem;
}